<!-- first form -->
<div class="container vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex justify-content-center align-items-center">
    <label>Search Testcase : </label>
    <input class="m-2" type="text" />
  </div>
</div>

<!-- second form -->
<!-- <div class="container">
  <div class="row">
    <div
      class="col-6 d-flex justify-content-center align-items-center row my-2"
    >
      <label class="col-5">Policy : </label>
      <input class="col-7" type="text" />
    </div>
    <div
      class="col-6 d-flex justify-content-center align-items-center row my-2"
    >
      <label class="col-5">Insured DOB : </label>
      <input class="col-7" type="text" />
    </div>
    <div
      class="col-6 d-flex justify-content-center align-items-center row my-2"
    >
      <label class="col-5">Effective Date : </label>
      <input class="col-7" type="text" />
    </div>
    <div
      class="col-6 d-flex justify-content-center align-items-center row my-2"
    >
      <label class="col-5">Gender : </label>
      <input class="col-7" type="text" />
    </div>
    <div
      class="col-6 d-flex justify-content-center align-items-center row my-2"
    >
      <label class="col-5">Product : </label>
      <input class="col-7" type="text" />
    </div>
    <div
      class="col-6 d-flex justify-content-center align-items-center row my-2"
    >
      <label class="col-5">Plan Code : </label>
      <input class="col-7" type="text" />
    </div>
    <div
      class="col-6 d-flex justify-content-center align-items-center row my-2"
    >
      <label class="col-5">State : </label>
      <input class="col-7" type="text" />
    </div>
    <div
      class="col-6 d-flex justify-content-center align-items-center row my-2"
    >
      <label class="col-5">Plan name : </label>
      <input class="col-7" type="text" />
    </div>
    <div
      class="col-6 d-flex justify-content-center align-items-center row my-2"
    >
      <label class="col-5">Insured age : </label>
      <input class="col-7" type="text" />
    </div>
    <div
      class="col-6 d-flex justify-content-center align-items-center row my-2"
    >
      <label class="col-5">Insured address : </label>
      <input class="col-7" type="text" />
    </div>
  </div>
  <div class="float-end my-4 mx-6">
    <button type="button" class="btn-sm btn-ligh px-3 border border-grey mx-3">
      CANCEL
    </button>
    <button type="button" class="btn-sm btn-primary px-3 ">
      UPDATE
    </button>
  </div>
</div> -->
